<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	<add name="EfStickManConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=35.160.64.173;Initial Catalog=StickManDB;MultipleActiveResultSets=True;User ID=sa;Password=Reset@1234;integrated security=False" />
    <!--<add name="" connectionString="metadata=res://*/DatabaseEntities.csdl|res://*/DatabaseEntities.ssdl|res://*/DatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SALEX\SQLEXPRESS;initial catalog=StickManDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="EfStickManConnectionString" connectionString="metadata=res://*/DatabaseEntities.csdl|res://*/DatabaseEntities.ssdl|res://*/DatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=StickManDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>